extends layout.pug

block content
  article
    div.worktitle
      h2.bigtitle_work(style='width: 123px;') 作品
        h4.smalltitle_work works
  article
    div.workcopy
        h4.smalltitle_copy Copyright© 2021 HUANG GUO WEI

  article
    .grid-x.grid-margin-x.small-up-2.medium-up-3.large-up-4.workbox
      each val, index in data
        .cell.cellcontrol
          a(href=`/project/${index}`)
            //- img.workimgsize(src=`${val.image_urls[0]}`)
            lottie-player(src=`${val.image_urls[0]}` background='transparent' speed='1' style='width: 100%; height: 100%;' loop  autoplay='' )
            .workfontsize.workfontsize_title= val.project_name
            .workfontsize.workfontsize_sub= val.project_type
      
